
/* stil för sidfoten */
footer {
    background-color: #444;
    color: white;
    text-align: center;
    padding: 1vh;
    width: 100%;
    min-height: 6vh;
    max-height: 6vh;
    font-size: 1.3vh;
}
